{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Notifications' %}
{% endblock %}
{% block content %}
    <div class="col-md-3 text-left">
        <div class="icon-item">
            <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer.</a></h4>
            <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
            <img src="images/content__images/image_540x225.jpg" alt="small-post"></div>
        <div class="icon-item">
            <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer.</a></h4>
            <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
            <img src="images/content__images/image_540x225.jpg" alt="small-post"></div>
        <div class="icon-item">
            <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer.</a></h4>
            <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
            <p><a href="#" class="btn btn-info btn-md">read more</a></p>
        </div>
    </div>
{% endblock %}