{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <article class="login-form">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id">{% trans 'ID' %}</label>
                            {{ form.id }}
                        </div>
                        <div class="form-group">
                            <label for="password">{% trans 'Password' %}</label>
                            {{ form.password }}
                        </div>
                        <button class="dc_gradient_button blue btn-block">{% trans 'Login' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
